{
    "name": "%TEST_NAME%", 
    "parent": "include_defaults.tmpl", 
    "strings": [
        {
            "pool__addr": "%TEST_VS_IP%"
        }, 
        {
            "pool__port": "80"
        }, 
        {
            "pool__DefaultPoolIndex": "0"
        }
    ], 
    "tables": [
        {
            "columnNames": [
                "Index", 
                "Name", 
                "Type", 
                "Options"
            ], 
            "name": "monitor__Monitors", 
            "rows": [
                {
                    "row": [
                        "", 
                        "/Common/tcp", 
                        "none", 
                        "none"
                    ]
                }
            ]
        }, 
        {
            "columnNames": [
                "Index", 
                "Name", 
                "Description", 
                "LbMethod", 
                "Monitor", 
                "AdvOptions"
            ], 
            "name": "pool__Pools", 
            "rows": [
                {
                    "row": [
                        "0", 
                        "", 
                        "", 
                        "round-robin", 
                        "0", 
                        "none"
                    ]
                }
            ]
        }, 
        {
            "columnNames": [
                "Index", 
                "IPAddress", 
                "Port", 
                "ConnectionLimit", 
                "Ratio", 
                "PriorityGroup", 
                "State", 
                "AdvOptions"
            ], 
            "name": "pool__Members", 
            "rows": []
        }
    ]
}