{
    "name": "%TEST_NAME%", 
    "parent": "include_defaults.tmpl", 
    "strings": [
        {
            "pool__addr": "%TEST_VS_IP%"
        }, 
        {
            "pool__port": "81"
        }, 
        {
            "pool__DefaultPoolIndex": "0"
        }, 
        {
            "vs__Name": "test_vs_fastl4_udp_vs"
        }, 
        {
            "vs__Description": "FastL4 UDP Virtual Server"
        }, 
        {
            "vs__IpProtocol": "udp"
        }, 
        {
            "vs__SNATConfig": "automap"
        }, 
        {
            "vs__ProfileClientProtocol": "/Common/fastL4"
        }, 
        {
            "vs__ProfileServerProtocol": ""
        }, 
        {
            "vs__AdvOptions": "vlans-disabled;vlans=set_none"
        }
    ], 
    "tables": [
        {
            "columnNames": [
                "Index", 
                "Name", 
                "Type", 
                "Options"
            ], 
            "name": "monitor__Monitors", 
            "rows": [
                {
                    "row": [
                        "0", 
                        "/Common/tcp", 
                        "none", 
                        "none"
                    ]
                }
            ]
        }, 
        {
            "columnNames": [
                "Index", 
                "Name", 
                "Description", 
                "LbMethod", 
                "Monitor", 
                "AdvOptions"
            ], 
            "name": "pool__Pools", 
            "rows": [
                {
                    "row": [
                        "0", 
                        "", 
                        "", 
                        "round-robin", 
                        "0", 
                        "none"
                    ]
                }
            ]
        }, 
        {
            "columnNames": [
                "Index", 
                "IPAddress", 
                "Port", 
                "ConnectionLimit", 
                "Ratio", 
                "PriorityGroup", 
                "State", 
                "AdvOptions"
            ], 
            "name": "pool__Members", 
            "rows": [
                {
                    "row": [
                        "0", 
                        "%TEST_MEMBER_IP%", 
                        "80", 
                        "0", 
                        "1", 
                        "0", 
                        "enabled", 
                        "none"
                    ]
                }, 
                {
                    "row": [
                        "0", 
                        "%TEST_MEMBER_IP%", 
                        "80", 
                        "0", 
                        "1", 
                        "0", 
                        "disabled", 
                        "none"
                    ]
                }, 
                {
                    "row": [
                        "0", 
                        "%TEST_MEMBER_IP%", 
                        "80", 
                        "0", 
                        "1", 
                        "0", 
                        "drain-disabled", 
                        "none"
                    ]
                }
            ]
        }
    ]
}